 /* !!!! Header Portion of the Page !!!!*/
 
 header {
    background-color: #608278 ;
    
 }

 .top-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 25px 0px 10px 0px;
 }

 hr {
   height: 5px;
   background-color:#6c7573 ;
 }

 /* !!!!Body Portion of the Page !!!!*/

 main {
    text-align: center;
    background-color: beige;
    
 }

 .whole-mid {
    margin-left: 25%;
    margin-right: 25%;
 }
 
 .starter {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
 }

 .intro {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;

 }
 ul {
  display:inline-table
  
 }
 
 .about-sect {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
 }

 .contact-sect {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-bottom: 75px;
 }

  a:hover {
   color: white;
    }
a:visited {
 color : green
}
 
/* !!!! Footer Portion of the Page !!!!*/

 footer {
    background-color: #608278;
    color: aliceblue;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
 }
